---
- name: Generate commentinfo.md file
  shell: 'echo "===============" > {{ workspace }}/commentinfo.md'

- name: Sync files into docroot
  shell: "rsync -avz {{ source }}/ {{ destination }}"

- name: Folder permissions
  shell: "sudo chown -R www-data:jenkins {{ destination }}"
