<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.jenkins.GitHubPushTrigger_-DescriptorImpl plugin="github@1.9.1">
  <manageHook>true</manageHook>
  <credentials>
    <com.cloudbees.jenkins.Credential>
      <username>{{ github_username }}</username>
      <apiUrl>https://api.github.com</apiUrl>
      <oauthAccessToken>{{ github_token }}</oauthAccessToken>
    </com.cloudbees.jenkins.Credential>
  </credentials>
</com.cloudbees.jenkins.GitHubPushTrigger_-DescriptorImpl>