<?xml version='1.0' encoding='UTF-8'?>
<org.codefirst.SimpleThemeDecorator plugin="simple-theme-plugin@0.3">
  <cssUrl>{{ jenkins_theme_css }}</cssUrl>
  <jsUrl>{{ jenkins_theme_js }}</jsUrl>
</org.codefirst.SimpleThemeDecorator>
