<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsCi.plugins.projectDescriptionSetter.DescriptionSetterWrapperDescriptor plugin="project-description-setter@1.1">
  <charset>UTF-8</charset>
  <projectDescriptionFilename></projectDescriptionFilename>
  <disableTokens>false</disableTokens>
</org.jenkinsCi.plugins.projectDescriptionSetter.DescriptionSetterWrapperDescriptor>