<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description>Make dump of production database and put it on CI server.</description>
    <keepDependencies>false</keepDependencies>
    <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
        <jenkins.plugins.hipchat.HipChatNotifier_-HipChatJobProperty plugin="hipchat@0.1.8">
            <room></room>
            <startNotification>false</startNotification>
            <notifySuccess>false</notifySuccess>
            <notifyAborted>false</notifyAborted>
            <notifyNotBuilt>false</notifyNotBuilt>
            <notifyUnstable>false</notifyUnstable>
            <notifyFailure>false</notifyFailure>
            <notifyBackToNormal>false</notifyBackToNormal>
        </jenkins.plugins.hipchat.HipChatNotifier_-HipChatJobProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>true</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers>
        <hudson.triggers.TimerTrigger>
            <spec>H 23 * * * </spec>
        </hudson.triggers.TimerTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>
# Dumping databases on production server
ssh -t root@CHANGE_TO_PROD_SERVER_IP &quot;rm -rf /var/www/backup/proddump.sql.gz &amp;&amp; cd /var/www/prod/frontend/prod &amp;&amp; drush sql-dump | gzip -9 &gt; /var/www/backup/proddump.sql.gz ; chown -R www-data:jenkins /var/www/backup&quot;
scp root@CHANGE_TO_PROD_SERVER_I:/var/www/backup/proddump.sql.gz /var/www/backup/proddump.sql.gz</command>
        </hudson.tasks.Shell>
    </builders>
    <publishers/>
    <buildWrappers>
        <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.4"/>
        <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.1">
            <colorMapName>xterm</colorMapName>
        </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    </buildWrappers>
</project>
