<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.git.GitSCM_-DescriptorImpl plugin="git@2.2.5">
  <generation>1</generation>
  <globalConfigName></globalConfigName>
  <globalConfigEmail>{{ jenkins_admin_email }}</globalConfigEmail>
  <createAccountBasedOnEmail>false</createAccountBasedOnEmail>
</hudson.plugins.git.GitSCM_-DescriptorImpl>