<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>CHANGE_ME_to_maintainence_email</adminAddress>
  <jenkinsUrl>http://{{ jenkins_server_ip }}:8080/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>