<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.ghprb.GhprbTrigger_-DescriptorImpl plugin="ghprb@1.15-0">
  <serverAPIUrl>https://api.github.com</serverAPIUrl>
  <whitelistPhrase>.*add\W+to\W+whitelist.*</whitelistPhrase>
  <okToTestPhrase>.*ok\W+to\W+test.*</okToTestPhrase>
  <retestPhrase>.*test\W+this\W+please.*</retestPhrase>
  <skipBuildPhrase>.*\[skip\W+ci\].*</skipBuildPhrase>
  <cron>H/3 * * * *</cron>
  <useComments>false</useComments>
  <logExcerptLines>25</logExcerptLines>
  <unstableAs>FAILURE</unstableAs>
  <msgSuccess>Test PASSed.</msgSuccess>
  <msgFailure>Test FAILed.</msgFailure>
  <autoCloseFailedPullRequests>false</autoCloseFailedPullRequests>
  <username>{{ github_username }}</username>
  <password>CHANGE_ME</password>
  <accessToken>{{ github_token }}</accessToken>
  <adminlist></adminlist>
  <publishedURL>http://{{ jenkins_server_ip }}:8080/</publishedURL>
  <requestForTestingPhrase>Can one of the admins verify this patch? Use &quot;o+k to test&quot; or &apos;&apos;t+est this please&quot; for manual build execution.</requestForTestingPhrase>
  <jobs/>
</org.jenkinsci.plugins.ghprb.GhprbTrigger_-DescriptorImpl>
